.form {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 150px;
}

.nameInput {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #a09669;
  border-radius: 4px;
  background-color: #f8f8f8;

}

.emailInput {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #a09669;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.message {
  width: 50%;
  min-width: 50%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #a09669;
  border-radius: 4px;
  background-color: #f8f8f8;

}

.button {
  background-color: #a09669;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

